#services {
    display: inline-block;
}
.block {
    display: inline-block;
    width: calc((100% - 120px) / 4);
    float: left;
    text-align: center;
    padding: 50px 10px 60px;
    margin: 0 15px;
    box-shadow: 0 1px 2px 2px #E5E5E5;
    background-color: var(--color-primary);
}
    .block:hover {
        box-shadow: 0 3px 20px 2px #E5E5E5;
        transition: all .3s ease 0s;
    }
    .block:hover i {
        background-color: var(--color-title);
        color: #fff;
        transition: all .3s ease 0s;
    }
    .block > i {
        display: inline-block;
        width: 36px;
        height: 36px;
        font-size: 19px;
        line-height: 36px;
        border: 1px solid var(--color-text);
        border-radius: 50%;
        color: var(--color-text);
    }
    .block > h4 {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        position: relative;
        margin-top: 20px;
        margin-bottom: 30px;
        color: var(--color-text);
        font-weight: normal;
    }
    .block > h4::after {
        content: '';
        display: block;
        border: none;
        border-bottom: 3px solid #DBDBDB;
        width: 50px;
        bottom: -15px;
        left: calc((100% - 50px) / 2 );
        position: absolute;
    }
    .block > p {
        display: inline-block;
        width: 100%;
        font-size: 16px;
        line-height: 18px;
        color: var(--color-text);
    }

@media (max-width: 1100px) {
    .block {
        width: calc((100% - 60px) / 2 );
        margin: 0 15px 30px;
    }
}
@media (max-width: 900px) {
    .block {
        width: calc((100% - 60px) / 2 )
    }
}
@media (max-width: 650px) {
    .block {
        width: 80%;
        margin: 0 calc((100% - 80%) / 2) 30px;
        padding: 30px 15px;
    }
}