/************************************************************/
/* BASIC */

/************************************************************/



/************************************************************/
/* LAYOUT */

/************************************************************/



/************************************************************/
/* HEADER */

/************************************************************/


/************************************************************/
/* HERO */

/************************************************************/
.author {
    display: inline-block;
    float: right;
    margin-right: 15px;
}
.right {
    margin-left: 15px;
}
.logo {
    height: 40px;
}

.hero {
    display: inline-block;
    width: 50%;
    margin-top: 220px;
    padding: 0 15px;
}

    .hero > h4 {
        color: #919191;
        font-size: 16px;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }
    .hero > h1 {
        color: #414141;
        margin-bottom: 15px;
        font-size: 44px;
    }
    .hero > p {
        color: #6a6a6a;
        font-size: 20px;
        margin-bottom: 45px;
        line-height: 28px;
    }
    
/************************************************************/
/* CLIENTS */

/************************************************************/

/************************************************************/
/* ABOUT ME */

/************************************************************/

/************************************************************/
/* My experience */

/************************************************************/


/************************************************************/
/* SKILLS */

/************************************************************/

/************************************************************/
/* LATEST WORK */

/************************************************************/

/************************************************************/
/* JOB HISTORY */

/************************************************************/

/************************************************************/
/* SERVICES */

/************************************************************/

/************************************************************/
/* TESTIMONIALS */

/************************************************************/

/************************************************************/
/* CONTACT ME */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
