/************************************************************/
/* BASIC */

/************************************************************/


/************************************************************/
/* LAYOUT */
h2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 80px;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
}

/************************************************************/



/************************************************************/
/* HEADER */

/************************************************************/


/************************************************************/
/* HERO */

/************************************************************/

/************************************************************/
/* CLIENTS */

/************************************************************/

/************************************************************/
/* ABOUT ME */


/************************************************************/

/************************************************************/
/* NUMBERS */

/************************************************************/

/************************************************************/
/* SKILLS */

/************************************************************/

/************************************************************/
/* LATEST WORK */

/************************************************************/

/************************************************************/
/* JOB HISTORY */

/************************************************************/

/************************************************************/
/* SERVICES */

/************************************************************/

/************************************************************/
/* TESTIMONIALS */

/************************************************************/

/************************************************************/
/* CONTACT ME */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
