.bg-primary {
    background-color: var(--color-primary);
}

.header {
    display: inline-block;
    /* position: fixed;
    box-shadow: 0px 2px 6px gray;
    z-index: 1;
    background-color: var(--color-primary); */
}

.header-show {
    position: fixed;
    box-shadow: 0px 2px 6px gray;
    z-index: 1;
    background-color: var(--color-primary);
}

    .container > .header-content {
        display: inline-block;
        width: 1200px;
        margin: 10px calc((100% - 1200px) / 2);
    }

    .header > .logo {
        display: inline-block;
        float: left;
    }

    .navigation {
        display: inline-block;
        float: right;
    }

        .navigation a {
            text-decoration: none;
            line-height: 60px;
            padding: 0 10px;
            font-size: 14px;
            letter-spacing: 2px;
            position: relative;
            text-transform: uppercase;
            font-family: Montserrat;
            color: var(--color-text);
        }

        .navigation > a::after,
        .navigation > a.active::after{
            content: "";
            position: absolute;
            height: 2px;
            left: 0;
            top: 5px;
            width: 0;
            border-bottom: 2px solid var(--color-text);
            transition: all .5s;
        }
        .navigation > a:hover::after,
        .navigation > a.active::after {
            width: 100%;
        }

        .navigation > .links {
            display: inline-block;
            float: right;
        }