.progress-bar {
    display: inline-block;
    width: 80%;  
}
    .progress-bar > .text {
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 15px;
        color:  #4f4f4f;
        font-size: 15px;
        line-height: 15px;
        font-weight: bolder;
    }
        .progress-bar > .text > .title {
            display: inline-block;
            float: left;
        }
        .progress-bar > .text > .value {
            display: inline-block;
            float: right;
        }
    .progress-bar > .full {
        display: inline-block;
        width: 100%;
        height: 8px;
        margin-bottom: 25px;
        background-color: #cccccc;
        border-radius: 3px;
    }
        .progress-bar > .full > .bar {
            display: inline-block;
            width: 90%;
            height: 100%;
        }
            .progress-bar > .full > .bar > .loading {
                display: inline-block;
                width: 100%;
                height: 100%;
                background-color: #4f4f4f;
                border-radius: 3px;
                position: relative;
            }
                .progress-bar > .full > .bar > .loading::after {
                    content: '';
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: #4f4f4f;
                    position: absolute;
                    top: -5px;
                    right: 0;  
                }
                .progress-bar > .full > .bar > .loading::before {
                    content: '';
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background-color: rgb(79, 79, 79, 0.4) ;
                    position: absolute;
                    top: -10px;
                    right: -5px;    
                }
            .progress-bar.animate > .full > .bar > .loading{
                animation-name: loading;
                animation-duration: 2s;
                animation-iteration-count: 1;
            }   
                .progress-bar.animate > .full > .bar > .loading::after {
                    animation-name: loading-circle;
                    animation-duration: 2s;
                    animation-iteration-count: 1;
                }
                .progress-bar.animate > .full > .bar > .loading::before {
                    animation-name: loading-circle-2;
                    animation-duration: 2s;
                    animation-iteration-count: 1;
                }

@keyframes loading {
    0% {
        width: 0%;
    } 
    100% {
        width: 100%;
    } 
}
@keyframes loading-circle {
    0% {
        width: 18px;
    } 
    100% {
        width: 18px;
    } 
}
@keyframes loading-circle-2 {
    0% {
        width: 28px;
    } 
    100% {
        width: 28px;
    } 
}

@media (max-width: 900px) {
    .content.about > .left,
    .content.about > .right {
        width: 100%;
        padding: 0 15px;
    }
    .content.about > .left {
        margin-bottom: 50px;
        text-align: center;
    }
        .about .right >.progress-bar {
            width: 100%;
        }
}
