
:root {
    --color-primary: #F5F5F5;
<<<<<<< Updated upstream
    
    --color-title: #414141;

    --color-text: #6A6A6A;
=======

    --color-title: #414141;
    
    --color-text: #976A6A;
>>>>>>> Stashed changes

    --color-button: #fff;
}